<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Regression testing of Redmine Project" verbose="1" >
  <test name="Registration Test Cases" >
    <classes>
       <class name="testing.design.setupTest" />
       <class name="testng.RegistrationTestScripts" />
       
    </classes>
  </test>

  <test name="SignIn testcases">
    <classes>
       <class name="testing.design.setupTest" />    
      <class name="testng.SigninTestScripts" />
      <class name="testing.design.setupTest" />
      <class name="testing.design.IssueTestScripts" />
    </classes>
  </test>
</suite>